body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FDFDFD;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.date-time {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #777;
}

.date-time i {
    margin-right: 5px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.select-all {
    display: flex;
    align-items: center;
}

#taskInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

.edit-btn, .del-btn {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
}

.edit-btn {
    background-color: #8BC34A;
    color: white;
}

.del-btn {
    background-color: #E57373;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#clearCompletedBtn {
    background-color: #FFA726;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#taskCount {
    font-size: 14px;
    color: #666;
}
